html {
  background-color: rgb(248, 238, 238);
  color: black;
}

section {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  color: #dedede;
}

img {
  width: 300px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  text-align: center;
  padding: 10px;
}